.body {
  background-color: #65173A;
  color: black;
}

.header {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; 
  font-size: 24px;
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  line-height: 26px;
}

.logo {
  width: 100px;
  height:100px;
  vertical-align: top;
}

.vertical-container {
	vertical-align: left;
	height: 50px;
}